<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Engine" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4001" targetFramework="net40" />
  <package id="CrystalReports.Shared" version="13.0.4001" targetFramework="net40" />
  <package id="OpenMcdf" version="2.2.1.12" targetFramework="net40" userInstalled="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.CommandLine" version="2.0.0-beta4.22272.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
</packages>